{% extends 'layout/manage.html' %}
{% load static %}
{% block title %}文件{% endblock %}

{% block css %}
    <style>
        a:hover {
            text-decoration: none;
            color: blue;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden;
        }

        .panel-default > .panel-heading .function .upload input {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            position: fixed;
            right: 15px;
            bottom: 15px;
            width: 400px;
        }
        tbody>tr>th{
            font-size: 14px;
            font-weight: normal;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                    <a href="{% url 'app01:file' project_id=request.userInfo.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"> Home</i>
                    </a>
                    {% for breadcrumb in breadcrumb_list %}
                        <a href="{% url 'app01:file' project_id=request.userInfo.project.id %}?folder={{ breadcrumb.id }}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            {{ breadcrumb.name }}
                        </a>
                    {% endfor %}

                </div>
                <div class="function">
                    <div class="btn btn-primary btn-xs upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <input type="file" multiple name="uploadFile" id="uploadFile">
                    </div>
                    <a class="btn btn-success btn-xs" type="button" data-toggle="modal" data-target="#AddModal"
                       data-whatever="新建文件夹">
                        <i class="fa fa-plus" aria-hidden="true"></i> 新建文件夹
                    </a>
                </div>

            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><i class="fa fa-folder" aria-hidden="true"></i> 文件名</th>
                    <th><i class="fa fa-ravelry" aria-hidden="true"></i> 文件大小</th>
                    <th><i class="fa fa-user" aria-hidden="true"></i> 更新者</th>
                    <th><i class="fa fa-clock-o" aria-hidden="true"></i> 更新时间</th>
                    <th><i class="fa fa-adjust" aria-hidden="true"></i> 操作</th>
                </tr>
                </thead>
                <tbody id="rowList">
                {% for file_obj in file_obj_list %}
                    <tr>
                        <th>
                            {% if file_obj.file_type == 2 %}
                                <a href="{% url 'app01:file' project_id=request.userInfo.project.id %}?folder={{ file_obj.id }}">
                                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                                    {{ file_obj.name }}
                                </a>

                            {% else %}
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    {{ file_obj.name }}
                            {% endif %}

                        </th>
                        <th>
                            {% if file_obj.file_type == 1 %}
                                {{ file_obj.file_size }}
                            {% else %}
                                -
                            {% endif %}
                        </th>
                        <th>
                            {{ file_obj.update_user.username }}
                        </th>
                        <th>{{ file_obj.update_time }}</th>
                        <th>
                            {% if file_obj.file_type == 2 %}
                                <a class="btn btn-primary btn-xs" type="button" data-toggle="modal"
                                   data-target="#AddModal" data-whatever="编辑文件夹" data-name="{{ file_obj.name }}"
                                   data-fid="{{ file_obj.id }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    编辑
                                </a>

                            {% else %}
                                <a class="btn btn-success btn-xs download" href="{% url 'app01:file_download' project_id=request.userInfo.project.id file_id=file_obj.id %}">
                                    <i class="fa fa-cloud-download" aria-hidden="true">下载</i>
                                </a>
                            {% endif %}
                            <a class="btn btn-danger btn-xs" type="button" data-toggle="modal"
                               data-target="#DelModal" data-fid="{{ file_obj.id }}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                删除
                            </a>
                        </th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- 创建新建文件夹编辑文件模态框 -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        {% csrf_token %}
                        <input class="hide" type="text" name="fid" id="fid">
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_lable }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error_msg">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">确 定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 创建删除文件模态框 -->
    <div class="modal fade" id="DelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h3>是否确定删除?</h3>
                <p style="font-size: 16px;">文件中包含的所有文件将被删除</p>
                <p style="text-align: right;">
                    <button type="button" class="btn btn-danger " id="BtnDelete">确定</button>
                    <a class="btn btn-default " data-dismiss="modal" aria-label="Close">取消</a>
                </p>
            </div>
        </div>
    </div>
    <!-- 进度条 -->
    <div id="uploadProgress" class="upload-progress hide">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                上传进度
            </div>
            <table class="table">
                <tbody id="progressList">
                </tbody>
            </table>

        </div>
    </div>
    <!-- 进度条 隐藏更新-->
    <div class="hide">
        <table id="progressTemplate">
            <tr>
                <td>
                    <div class="name"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                    <div class="progress-error"></div>
                </td>
            </tr>
        </table>
    </div>
    <!-- 文件 隐藏更新-->
    <div class="hide">
        <table id="rowTpl">
            <tr>
                <td>
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    <span class="name"></span>
                </td>
                <td class="file_size"></td>
                <td class="username"></td>
                <td class="datetime"></td>
                <td>

                    <a class="btn btn-success btn-xs download">
                        <i class="fa fa-cloud-download" aria-hidden="true">下载</i>
                    </a>

                    <a class="btn btn-danger btn-xs delete" data-toggle="modal" data-target="#alertModal">
                        <i class="fa fa-trash" aria-hidden="true">删除</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/cos-js-sdk-v5.min.js' %}"></script>
    <script>
        var Delete_Url = "{% url 'app01:file_delete' project_id=request.userInfo.project.id %}";
        var COS_CREDENTIAL = "{% url 'app01:cos_credential' project_id=request.userInfo.project.id %}";
        var FILE_POST = "{% url 'app01:file_post' project_id=request.userInfo.project.id%}";
        var CURRENT_FOLDER_ID = "{{ folder_obj.id }}";
        $(function () {
            initAddModel();
            bindBtnSubmit();
            bindBtnDelete();
            bindUploadFile();
        });

        function initAddModel() {
            $('#AddModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('whatever');
                var name = button.data('name');
                var fid = button.data('fid');
                var modal = $(this);
                modal.find('.modal-title').text(recipient);
                if (fid) {
                    //编辑文件夹
                    modal.find('#id_name').val(name);
                    modal.find('#fid').val(fid);
                } else {
                    //新建文件夹
                    modal.find('.error_msg').empty();
                    $('#addForm')[0].reset();
                }
            })
            $('#DelModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var fid = button.data('fid');
                //console.log(fid);
                var modal = $(this);
                modal.find('#BtnDelete').attr('fid', fid);
            })
        }

        function bindBtnSubmit() {
            $('#btnSubmit').click(function () {
                $.ajax({
                    url: location.href,
                    type: "POST",
                    data: $('#addForm').serialize(),
                    dataType: "json",
                    success: function (res) {
                        //console.log(res);
                        if (res.status) {
                            console.log(res.status);
                            location.reload()
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }

                    }
                })
            })

        }

        function bindBtnDelete() {

            $("#BtnDelete").click(function () {
                var fid = $(this).attr('fid');
                $.ajax({
                    url: Delete_Url,
                    type: "GET",
                    data: {"fid": fid},
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);
                        if (res.status) {
                            location.reload();
                        }
                    }

                })

            })

        }

        function bindUploadFile() {
            $("#uploadFile").change(function () {
                $("#progressList").empty();
                var fileList = $(this)[0].files;
                var check_list = [];
                $.each(fileList, function (index, fileObj) {
                    var fileName = fileObj.name;
                    check_list.push({'name': fileName, 'size': fileObj.size});
                });
                //获取临时凭证
                var cos = new COS({
                    getAuthorization: function (options, callback) {
                        // 异步获取临时密钥
                        $.post(COS_CREDENTIAL, JSON.stringify(check_list), function (res) {
                            if (res.status) {
                                var credentials = res.data && res.data.credentials;
                                callback({
                                    TmpSecretId: credentials.tmpSecretId,
                                    TmpSecretKey: credentials.tmpSecretKey,
                                    XCosSecurityToken: credentials.sessionToken,
                                    // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                                    StartTime: res.data.startTime, // 时间戳，单位秒，如：1580000000
                                    ExpiredTime: res.data.expiredTime, // 时间戳，单位秒，如：1580000900
                                });
                                // 获取凭证后展示进度条
                                $('#uploadProgress').removeClass('hide');
                            } else {
                                alert(res.error);
                            }
                        });
                    }
                });
                // 上传文件
                $.each(fileList, function (index, fileObj) {

                    var fileName = fileObj.name;
                    var fileSize = fileObj.size;
                    var key = (new Date()).getTime() + "_" + fileName;
                    // 进度条展示
                    var tr = $('#progressTemplate').find('tr').clone();
                    tr.find('.name').text(fileName);
                    $('#progressList').append(tr);

                    cos.putObject({
                        Bucket: "{{request.userInfo.project.bucket}}",
                        Region: "{{request.userInfo.project.region}}",
                        Key: key,
                        StorageClass: 'STANDARD',
                        Body: fileObj, // 上传文件对象
                        onProgress: function (progressData) {
                            var percent = progressData.percent * 100 + '%';
                            tr.find('.progress-bar').text(percent);
                            tr.find('.progress-bar').css('width', percent);
                        }
                    }, function (err, data) {
                        if (data && data.statusCode == 200) {
                            $.post(FILE_POST,
                                {
                                    name: fileName,
                                    file_size: fileSize,
                                    key: key,
                                    parent_file: CURRENT_FOLDER_ID,
                                    etag: data.ETag,
                                    file_path: data.Location
                                }, function (res) {
                                        //数据库写入数据后  在前端动态展示
                                        console.log(res.data);
                                        var newTr = $('#rowTpl').find('tr').clone();
                                        newTr.find('.name').text(res.data.name);
                                        newTr.find('.file_size').text(res.data.file_size);
                                        newTr.find('.username').text(res.data.username);
                                        newTr.find('.datetime').text(res.data.datetime);
                                        newTr.find('.delete').attr('data-fid', res.data.id);
                                        newTr.find('.download').attr('href', res.data.url);
                                        $('#rowList').append(newTr);
                                        tr.remove();
                                })

                        } else {
                            tr.find('.progress-error').text('上传失败');
                        }
                    });
                });
            })

        }
    </script>
{% endblock %}